//to reset element-ui default css
@import './function';
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}


// dialog 表單dialog 業務
#app .form-dialog{
  .el-dialog__header {
    border-bottom: 1px solid #DEDEDE;
  }
  .el-dialog__body {
    padding: 0;
    padding-bottom: 30px;
  }
  .el-dialog__footer {
    margin-top: -30px;
    padding: 0!important;
    height: rem(109);
    .form-dialog-footer {
      height: 100%;
      @include dfcenter;
      button:first-child {
        margin-right: rem(54.5);
      }
    }
  }
} 

// show-word-limit bug https://github.com/ElemeFE/element/issues/15795
.el-form-item--small .el-input--small .el-input__count-inner {
  height: 29px;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #00915A;
  border-color:#00915A;
}
.el-table .cell.el-tooltip{
  white-space:initial;
}
// 全局主題色修復
#app .el-form .el-form-item__label {
  color: #666666;
  font-weight: 400
}
// checkBox
#app .el-checkbox__label {
  color: #666;
}
#app .is-checked .el-checkbox__label {
  color: #00915A;
}
#app .is-checked .el-switch__core {
  background: #00915A;
  border-color: #00915A
}