//sidebar
$menuText:#333333;
$menuActiveText:#009958;
$subMenuActiveText:#009958; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#E5F4EE;

$subMenuBg:#ffffff;
$subMenuHover:#E5F4EE;
// 416 * 1260 / 1920
$sideBarWidth: 273px;

$success: #00915A;
// the :export directive is the magic sauce for webpack
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  success: $success;
}
